<header class="flex justify-between w-full h-[13vh] px-8 items-center">
  <a class="text-2xl font-bold flex items-center" href="/">
    <img src="icon/icon.ico" class="w-14" />
    <span
      class="bg-gradient-to-r from-[#fca96a] via-[#fca96a] to-[#ef4966] bg-clip-text font-extrabold text-transparent">
      BarQLink
    </span>
  </a>
  <div
    class="bg-white/5 shadow-[inset_0_0_5px_rgba(255,255,255,0.5)] flex space-x-10 rounded-2xl px-7 py-3.5">
    <a> Inicio </a>
    <a> Contactos </a>
    <a> Precios </a>
    <a> FAQ </a>
  </div>
  <a
    class="bg-white/5 shadow-[inset_0_0_5px_rgba(255,255,255,0.5)] rounded-xl px-5 py-2">
    Contacto
  </a>
</header>
