<div class="flex flex-col items-center">
  <h1 class="text-[7vh] font-semibold mt-20 max-w-[60vw] text-center">
    Bienvenido a mi web
    <span class="text-[#fca96a]"> para </span>
    potenciar tal cosa y sobre todo esto
  </h1>
  <p class="max-w-[60vw] text-center text-lg">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. bcaecati id
    accusantium voluptatum, quo atque esse pariatur, deserunt nam laudantium
    fuga ipsam animi magni odit!
  </p>
  <div class="space-x-5 mt-10">
    <button
      class="bg-white text-[#a03848] font-bold rounded-lg w-[10vw] py-3 shadow-[0_0_20px_rgba(255,255,255,0.5)] shadow-white">
      Iniciar ahora
    </button>
    <button
      class="font-bold rounded-lg w-[10vw] py-3 bg-white/5 border-white/30 border">
      Ver demo
    </button>
  </div>
  <div class="flex mt-15 space-x-5">
    <div
      class="bg-white/10 flex flex-col justify-center space-y-3 shadow-[inset_0_0_5px_rgba(255,255,255,0.5)] space-x-10 rounded-2xl p-5 h-[20vh] w-[25vh]">
      <span class="text-4xl"> 7k+ </span>
      <span class="text-sm"> Lorem ipsum dolor sit amet , </span>
    </div>
    <div
      class="bg-gradient-to-r from-[#a03848]/30 via-[#f76a64]/30 to-[#fca96a]/30 flex flex-col justify-center space-y-3 shadow-[inset_0_0_5px_rgba(255,255,255,0.5)] space-x-10 rounded-2xl p-5 h-[20vh] w-[25vw]">
      <span class="text-4xl"> 7k+ </span>
      <span class="text-sm"> Lorem ipsum dolor sit amet , </span>
    </div>
    <div
      class="bg-white/10 flex flex-col justify-center space-y-3 shadow-[inset_0_0_5px_rgba(255,255,255,0.5)] space-x-10 rounded-2xl p-5 h-[20vh] w-[25vh]">
      <span class="text-4xl"> 7k+ </span>
      <span class="text-sm"> Lorem ipsum dolor sit amet , </span>
    </div>
    <div
      class="bg-white/10 flex flex-col justify-center space-y-3 shadow-[inset_0_0_5px_rgba(255,255,255,0.5)] space-x-10 rounded-2xl p-5 h-[20vh] w-[25vh]">
      <span class="text-4xl"> 7k+ </span>
      <span class="text-sm"> Lorem ipsum dolor sit amet , </span>
    </div>
  </div>
</div>
