---
import Background from '../components/Background.astro';
import './src/styles/global.css';
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/icon/icon.ico" type="image/x-icon" />
		<meta name="generator" content={Astro.generator} />
		<title>BarQLink</title>
	</head>
	<body class="bg-black h-[130vh] text-white overflow-x-hidden font-special">
		<Background />
		<div class="absolute top-0 w-full">
			<slot />
		</div>
	</body>
</html>
<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
